* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px;
    gap: 10px;
    background: url("./pexels-pixabay-209831.jpg");
    background-size:cover;
    background-repeat: no-repeat;

}
#weatherInfo{
    /* border: 2px solid red; */
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#weatherContainer{
    /* border: 2px solid green; */
    height: 200px;
    width: 460px;
    text-align: center;
}
input{
    height: 50px;
    width: 250px;
}
button{
    height: 30px;
    width: 170px;
}
button:hover{
    background-color: orange;
}
input:hover{
    background-color:rgb(230, 229, 229);
}

h2{
    color:orangered;
}
h1{
    color:black
}